.squire-button{
    display: block;
    width:120px;
    height: 5   0px;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    position: fixed;
    margin-left:40px;
    padding:10px;
}