.service-card {
  padding: 20px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  text-align: center;
  min-width: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 100px;

  &--isSelected {
    background-color: black;
    color: white;

    &:hover{
      background-color: black !important;
      color: white !important;
      cursor: initial !important;
    }
  }

  &__name {
    font-weight: 700;
  }

  &__duration {
    font-size: 12px;
    color: lightgray;
  }

  &__duration-price-container {
    justify-content: space-between;
  }

  &__price {
    font-size: 12px;
    font-weight: 700;
  }
}
